services:
  discovery:
    image: hashicorp/consul:latest
    environment:
      - CONSUL_BIND_INTERFACE=eth0
    volumes:
      - consul_data:/consul/data
    ports:
      - "8500:8500"
      - "8600:8600/udp"
    restart: always

  jwtauthentication:
    image: td6microservices/serveraauth
    restart: on-failure
    environment:
      - CONSUL_HOST=discovery
      - CONSUL_PORT=8500
    depends_on:
      - discovery

  gateway:
    image: td6microservices/gateway
    restart: always
    ports:
      - "8080:8080"
    environment:
      - CONSUL_HOST=discovery
      - CONSUL_PORT=8500
    depends_on:
      - discovery

volumes:
  consul_data: